.btn {
    padding: 1rem;
    border-radius: 10px;
    background-color: var(--primary-color);
    border: none;
    color: var(--white-color);
    margin-top: 1rem;
}

.btn:hover {
    background-color: var(--tertiary-color);
}