.frm {
    background: var(--secondary-color);
    display: flex;
    flex-direction: column;
    min-width: 400px;
    padding: 20px;
    border-radius: 20px;
    color: var(--white-color);
}

.btns{
    display: flex;
    justify-content: space-between;
    margin-inline: 3rem;
}

.btn, .btn2, .btnDisabled {
    background: var(--primary-color);
    color: var(--white-color);
    border: none;
    padding: 10px;
    padding-inline: 20px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
    font-weight: bolder;
}

.btn2 {
    background: red;

}

.btnDisabled {
    background: gray;
    cursor: not-allowed;
}

input {
    border-radius: 10px;
    padding: 10px;
    border: none;
    background-color: rgb(191, 205, 190);
    margin: 4px;
    margin-bottom: 15px;
}