.valid-password-check {
    color: green;
}

.invalid-password-check {
    color: red;
}

.title {
    font-size: 1rem;
    margin: 1rem;
    color: var(--secondary-color);
}

.bodyValidations {
    font-size: 0.8rem;
    color: var(--secondary-color);
}